<!--
  Author: Ashish Shiju, Samuel Yu, Jayden Park
  Page: Settings
  Purpose: Show user profile and allow navigation to edit your profile, show contact details, find the version of the software, and enter developer mode
  Date of creation: October 12, 2025
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
  <div class="profile" id="profile">
    <div class="header" style="justify-content: flex-start;">
      <button class="back-btn" onclick="window.location.href='{{ url_for('dashboard') }}'">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.41 7.41 14 6l-6 6 6 6 1.41-1.41L10.83 12z"/></svg>
      </button>
    </div>
    <div class="profile-pic" style="background-image: url({{ url_for('static', filename='uploads/' + user.file) }});"></div>
    <h2>{{name}}</h2>
    <!-- Profile sections for navigation -->
    <div class="profile-sections">
      <div class="section" onclick="window.location.href='{{ url_for('editprofile') }}'">Edit Profile</div>
      <div class="section" onclick="window.location.href='{{ url_for('contact') }}'">Contact Us</div>
      <div class="section" onclick="window.location.href='{{ url_for('about') }}'">About</div>
      <div class="section" onclick="window.location.href='{{ url_for('developer') }}'">Developer Mode</div>
      <div class="section" onclick="window.location.href='{{ url_for('logout') }}'">Log Out</div>
    </div>
  </div>
</body>
</html>